.centrarT{
    text-align: center;
}

.derechaT{
    text-align: end;
    padding-right: 50px;
}

.izquierdaT{
    text-align: start;
    padding-left: 50px;
}


.card-body {
    padding: 0.75px !important;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.pad{
    padding-top: 1.563rem;
}

.letraG{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Chilanka', cursive;
}

.letraP{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
}

.letraTime{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
}

.centrarAll{
    display: flex;
    justify-content: center;
}

.centrarWPad{
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}


.alineadoD{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.alineadoI{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}

.fondoBoton{
    background-color: #F25F5C;
}

.fondoC{
    background-color: #06D6A0;
}

.fondoW{
    background-color: #ffe6fe 
}

.fondoY{
    background-color: #FFD166;
}

.fondoM{
    background-color: #118AB2;
}

.columna{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fila{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

@media print {
#parte1 {display:none;}
#parte2 {display:none;}
#printable{
    margin-top: 25%;
    }
}

.fondoVerde{
 background-color: #ffcba4;
}